<script type="text/javascript"><!--

$().ready(() => {
  const id = '#languages';
  const org = 'cyber-dojo-languages';
  $(id + ' button').click(() => {
    reload(id, org);
  });
  reload(id, org);
});

//--></script>

<div id="languages">
  <button>reload</button>
  <table>
    <tr>
      <th>name</th>
      <th name="state">state</th>
      <th name="age">~age</th>
      <th name="took">took</th>
      <th name="github"></th>
      <th name="travis"></th>
      <th name="dockerhub"></th>
    </tr>
    <% @languages.keys.sort.each_with_index do |repo,index| %>
      <tr even="<%= index%2 == 0 %>" name="<%= repo %>">
        <td><%= repo %></td>
        <td><span class="state"></span></td>
        <td><span class="age"></span></td>
        <td><span class="took"></span></td>
        <td>
          <a href="https://github.com/cyber-dojo-languages/<%= repo %>" target="_blank">github</a>
        </td>
        <td>
          <a href="https://travis-ci.org/cyber-dojo-languages/<%= repo %>" target="_blank">Travis</a>
        </td>
        <td>
          <% image_name = @languages[repo]['image_name'].split(':')[0] %>
          <a href="https://hub.docker.com/r/<%= image_name %>/tags" target="_blank">Dockerhub</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
