<script type="text/javascript"><!--

$(document).ready(function() {

  const id = '#test-frameworks';
  const org = 'cyber-dojo-languages';
  const space = ' ';
  $(id + space + 'button').click(function() {
    reload(id,org);
  });
  reload(id,org);

});

//--></script>

<div id="test-frameworks">
  <button>reload</button>
  <table>
    <tr>
      <th>image name</th>
      <th name="status">status</th>
      <th name="ago">built</th>
      <th name="took">took</th>
      <th name="github"></th>
      <th name="travis"></th>
    </tr>
    <% @test_frameworks_repos.each_with_index do |repo,index| %>
      <tr even="<%= index%2 == 0 %>" name="<%= repo %>">
        <td><%= repo %></td>
        <td><span class="status"></span></td>
        <td><span class="ago"></span></td>
        <td><span class="took"></span></td>
        <td>
          <a href="https://github.com/cyber-dojo-languages/<%= repo %>" target="_blank">github</a>
        </td>
        <td>
          <a href="https://travis-ci.org/cyber-dojo-languages/<%= repo %>" target="_blank">Travis</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>