<script type="text/javascript"><!--

$(document).ready(function() {

  const id = '#test-frameworks';
  const org = 'cyber-dojo-languages';
  const space = ' ';
  $(id + space + 'button').click(reload(id,org));

});

//--></script>

<div id="test-frameworks">
  <button>reload</button>
  <table>
    <tr>
      <th>Name</th>
      <th name="status">Status</th>
      <th name="time">Time</th>
      <th name="date">Date</th>
      <th name="github"></th>
      <th name="travis"></th>
    </tr>
    <% @test_frameworks_repos.each_with_index do |repo,index| %>
      <tr even="<%= index%2 == 0 %>" name="<%= repo %>">
        <td><%= repo %></td>
        <td><span class="status"></span></td>
        <td><span class="time"></span></td>
        <td><span class="date"></span></td>
        <td>
          <a href="https://github.com/cyber-dojo-languages/<%= repo %>" target="_blank">github</a>
        </td>
        <td>
          <a href="https://travis-ci.org/cyber-dojo-languages/<%= repo %>" target="_blank">Travis</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>